<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <%= form_with(scope: :session, url: login_path, class: "form-signin", local: true) do |f| %>
              <div class="form-label-group">
                <label for="inputEmail">Username</label>
                <input class="form-control" placeholder="Username">
              </div>
              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              </div>

              <p></p>
              <button class="btn btn-lg btn-primary btn-block text-uppercase btn-primary" type="submit">SIGN UP</button>
              <hr class="my-4">
              <%= link_to 'SIGN IN', login_path, class: "btn btn-lg btn-success btn-block"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>