<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Watched_b4</h1>
    <p class="lead">This is a simple managing app which manages your watch history.</p>
    <hr class="my-4">
    <p>You can share your ratings and reviews for the contents with other users.</p>
    <%= link_to "SIGN IN", login_path, class: "btn btn-success btn-lg" %> 
    <%= link_to "SIGN UP", login_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>