<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" class "text-dang"> @nisino25 </a>
  </div>
  <!-- Copyright -->

</footer>